[user]
	name = Fred Emmott
	email = fe@fb.com
	signingKey = 789FCA28!
[commit]
	gpgsign = true
[alias]
	stash = -c commit.gpgsign=false stash
	stashq = -c commit.gpgsign=false stash
	qc = commit --no-gpg-sign
[merge]
	tool = vimdiff
